/*
Colors used
Text color #D9D9D9 & #2A2A2A
Primary color #FFFFFF
Secondary color #2A2A2A
Accent color #D5EC51

Fonts Used
body (Marcellus 400)
h1 (Gloock 400)
*/

:root {
    --primary-color: #FFFFFF;
    --secondary-color:#2A2A2A;
    --accent-color: #D5EC51;
    --primary-font: 'Marcellus', serif;
    --secondary-font: 'Gloock', serif;
    --lighter-font-color: #D9D9D9;
    --darker-font-color: #2A2A2A;
    --body-font-weight: 400;
    --body-font-size: 16px;
    --body-line-height: 1.6;
    --h1-font-color: #2A2A2A;
    --h1-font-weight: 600;
    --h1-line-height: 2;
    --text: 16px;
	--h1: 70px;
	--h2: 45px;
	--h3: 35px;
	--h4: 30px;
	--h5: 20px;
	--label: 12px;
    --button-padding: 10px;
    --button-border-radius: 3px;
    --button-border-bottom: 2px solid rgba(red, green, blue, alpha);
    --grid-gap: 20px;
    --grid-margin: 20px;
    --grid-padding: 15px;
    --grid-item-background-color: #D5EC51;
    --medium-margin: 40px;
	--standard-margin: 20px;
	--standard-padding: 10px;
	--small-mp: 5px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    font-family: var(--primary-font);
    color: var(--darker-font-color);
    font-weight: var(--body-font-weight);
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
}

.container {
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
}

main {
	margin: var(--standard-margin);
	flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--primary-font);
	letter-spacing: 2px;
	text-align: center;
}

h1 {
	font-size: var(--h1);
	font-weight: 700;
}

h2 {
	font-size: var(--h2);
}

h3 {
	font-size: var(--h3);
}

h4 {
	font-size: var(--h4);
}

h5 {
	font-size: var(--h5);
	margin-bottom: 0;
}

a {
	color: var(--accent-color);
	border-bottom: 1px solid;
	text-decoration: none;
	transition:
		opacity 0.3s ease,
		color 0.4s ease-in;
}

a:hover,
a:focus {
	border-bottom: none;
}

a:visited {
	opacity: 0.8;
}

a:active {
	opacity: 0.7;
	color: var(--accent-color);
}

.hidden {
	display: none;
}

button,
.button {
    background-color: var(--accent-color);
	color: var(--secondary-color);
	font-family: var(--secondary-font);
	display: inline-block;
	font-size: var(--text);
	letter-spacing: 1px;
	line-height: 1;
	text-decoration: none;
	padding: var(--standard-padding);
	border-radius: 5px;
	text-transform: uppercase;
	border: 2px solid var(--secondary-color);
	margin: var(--standard-margin) 0;
	box-shadow: 4px 6px var(--secondary-color);
    transition:
		opacity 0.2s ease-in,
		box-shadow 0.3s ease;
}

.button__link {
	background-color: var(--accent-color);
	display: inline-block;
	text-align: center;
}

.button__link a {
	color: var(--secondary-color);
	border-bottom: none;
}

button:hover,
button:focus,
.button__link:hover,
.button__link:focus {
	cursor: pointer;
	opacity: 0.8;
	box-shadow: 3px 5px var(--secondary-color);
}

button:active,
.button__link:active {
	box-shadow: none;
}

/* HEADER */
.page-header {
	width: 100%;
	padding: 15px;
	background-color: var(--secondary-color);
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.page-header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.logo {
	width: 250px;
	max-width: 100%;
	height: auto;
}
.main-navigation {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	z-index: 1000000;
}

.navigation-list {
	list-style: none;
	display: flex;
	gap: 20px;
	align-items: center;
	padding: 0;
	margin: 0 70px 0 0;
}

.navigation-list li {
	margin-left: 15px;
}

.navigation-list li a,
.contact-links a {
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	padding: var(--small-mp);
	transition:
		transform 0.3s ease-in-out,
		opacity 0.2s ease;
	border: none;
	display: inline-block;
}

.navigation-list li a:hover,
.navigation-list li a:focus,
.contact-links a:hover,
.contact-links a:focus {
	animation: pulsate 1s ease infinite !important;
}

.main-navigation .navigation-list li a.navigation-list__item--active {
	font-weight: 800;
}

/* My Work dropdown menu */
.nav-dropdown {
	position: relative;
}

.dropdown-menu {
	display: none;
	position: absolute;
	list-style: none;
	padding: 10px;
	top: 30px;
	left: 0;
	background: var(--accent-color);
	text-align: left;
	transition: 0.3s ease-in-out;
}

.dropdown-menu li {
	padding: 5px 0;
}

.dropdown-menu a {
	color: var(--secondary-color);
	text-decoration: none;
	display: block;
	padding: 5px 10px;
}
.navigation-list li .dropdown-menu a {
	font-weight: 400;
}

.nav-dropdown:hover .dropdown-menu {
	display: block;
}
.nav-dropdown > a {
	position: relative;
	padding-right: 20px !important;
}

.nav-dropdown > a::after {
	content: '›';
	font-size: 20px;
	color: var(--secondary-color);
	position: absolute;
	right: 5px;
	top: 45%;
	transform: translateY(-50%);
	transition: transform 0.4s ease-in-out;
}

.nav-dropdown:hover > a::after,
.nav-dropdown:focus > a::after {
	transform: translateY(-50%) rotate(90deg);
}

* {
            box-sizing: border-box;
}

/* Hamburger Button (Mobile) */
.hamburger-menu {
	display: none;
	flex-direction: column;
	gap: 5px;
	border: none;
	background: none;
	cursor: pointer;
	padding: 10px;
	z-index: 11000;
	position: absolute;
	top: 7.5px;
	right: 5px;
	box-shadow: none;
	border-radius: 0;
	margin: 0;
}
.hamburger-menu:hover,
.hamburger-menu:focus,
.hamburger-menu:active {
	box-shadow: none;
	border-radius: 0;
}
.hamburger-menu .bar {
	display: block;
	width: 24px;
	height: 2.5px;
	transition:
		transform 0.3s,
		opacity 0.3s;
	transform-origin: center;
	background-color: var(--accent-color);
}
/* HAMBURGER ICON ANIMATION */
.hamburger-menu.active .bar:nth-child(1) {
	transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-menu.active .bar:nth-child(2) {
	opacity: 0;
}

.hamburger-menu.active .bar:nth-child(3) {
	transform: rotate(-45deg) translate(5px, -5px);
}

/* HOMEPAGE */

.profile {
	max-width: 700px;
	margin: var(--standard-margin) auto;
	display: flex;
	flex-wrap: wrap;
}

.profile__portrait,
.profile__text,
.profile__button {
	flex: 1 0 calc(50% - var(--standard-margin));
	align-items: center;
}

.profile__portrait svg {
	width: 100%;
	height: auto;
	max-width: 200px;
}

.profile__text {
	text-align: center;
	padding: 0 30px;
}

.profile__button {
	flex-basis: 200px;
	flex-grow: 0;
	flex-shrink: 0;
	margin: 50px auto 0;
}

@supports (display: grid) {
	.profile {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
		grid-gap: var(--standard-margin);
	}

	.profile__portrait {
		grid-area: 1 / 1 / 3 / 2;
		align-self: center;
	}

	.profile__text {
		grid-area: 1 / 2 / 2 / 3;
		padding: 0;
	}

	.profile__button {
		grid-area: 2 / 2 / 3 / 3;
		max-width: 200px;
		margin-top: var(--standard-margin);
	}
}

/* ABOUT */
.christopher_img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 2px solid var(--accent-color);
	object-fit: cover;
	object-position: 50% 30%;
	animation: 1s border-pulsate infinite alternate ease-in-out;
}
.about-page h1 {
	margin-bottom: 10px;
}
.about-page ul {
	padding: 0;
}

.about-page li {
	list-style: none;
}

/* My Work */
/* start grid fallback */
.work-list__item {
	display: inline-block;
	width: 23%;
	background-color: var(--secondary-color);
	border: 2px solid var(--accent-color);
	padding: var(--standard-padding);
	margin: 1%;
	vertical-align: top;
	min-height: 260px;
	position: relative;
}

/* end grid fallback */
@supports (display: grid) {
	.work-list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-gap: 20px;
		justify-content: center;
		grid-auto-flow: dense;
	}

	.work-list__item {
		margin: 0;
		width: auto;
		height: auto;
		min-height: auto;
		display: flex;
		flex-direction: column;
	}

	.work-list__item div {
		margin-top: auto;
	}
}

.work-list__item::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--secondary-color);
}

.work-list__item {
	background-size: cover;
}

.work-list__inner {
	position: relative;
}

.work-list__item:nth-child(5),
.work-list__item:nth-child(6) {
	grid-column-start: span 2;
}

.project-link h2,
.project-link p {
	color: var(--accent-color);
}

.project-link:hover h2,
.project-link:focus h2 {
	color: var(--accent-color) !important;
}

/* PROJECT SINGLE */
.project-img {
	margin-top: var(--medium-margin);
}

.project-img img,
.video-box video {
	border: 2px solid var(--secondary-color);
	padding: var(--standard-padding);
	max-width: 100%;
}

.project-descr {
	line-height: 200%;
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

.project-descr ul {
	text-align: left;
	list-style: none;
	padding-left: var(--standard-margin);
}

.project-descr li {
	margin: 10px 0;
	position: relative;
}

.project-descr li::before {
	content: '•';
	color: var(--accent-color);
	position: absolute;
	left: -20px;
}

.project-descr span {
	font-weight: 600;
	text-transform: uppercase;
}

.project-inner {
	flex: 1;
	padding: var(--standard-margin);
}

.project-inner:last-child {
	flex: 1 1 100%;
}

h4 {
	margin-top: 50px;
}

.btn-box {
	display: flex;
	justify-content: center;
	gap: var(--standard-margin);
}

video {
	width: 500px;
	max-width: 90%;
}

.video-box label {
	display: block;
	font-size: var(--text);
	font-family: var(--primary-font);
	letter-spacing: 1px;
	color: var(--accent-color);
}

/*CONTACT*/
form {
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
}

label,
.contact-links span {
	color: var(--secondary-color);
	text-transform: lowercase;
	font-size: var(--label);
}
textarea,
input {
	border-radius: 0;
	line-height: 180%;
	border: 2px solid var(--accent-color);
	padding: 5px;
	font-family: var(--primary-font);
}
textarea {
	max-width: 100%;
	width: 100%;
}

label {
	display: block;
	text-align: left;
}
.contact_info {
	margin: var(--small-mp) 0;
	text-align: right;
}
.contact-address p {
	text-align: center;
}
address {
	max-width: 500px;
	margin: 50px auto 0;
	text-align: left;
	border-top: 2px dashed var(--accent-color);
	font-style: normal;
}

address > div {
	width: 100%;
}

.contact-page h3 {
	margin-bottom: 0;
}

.contact-links {
	display: flex;
	justify-content: center;
}

.contact-page .button__link {
	margin-top: 50px;
}

input:focus-visible,
textarea:focus-visible {
	outline: 2px solid var(--accent-color);
}

.contact-links img {
	width: 35px;
	height: 35px;
}

.contact-links span {
	padding: 0 5px;
}

.contact_bottom {
	display: flex;
	justify-content: space-between;
}

/* FOOTER */
.page-footer {
	margin-top: 30px;
	padding: var(--small-mp);
	background-color: var(--primary-color);
}

.page-footer .container {
	display: flex;
	justify-content: space-between;
}

.page-footer p {
	font-size: 11px;
	text-transform: uppercase;
	align-items: flex-end;
}

.social-media img {
	width: 30px;
	height: 30px;
	padding: 0 5px;
	align-items: flex-end;
}

.social-media a,
.contact-links a {
	border: none;
}

.social-media a:hover,
.social-media a:focus,
.contact-links a:hover,
.contact-links a:focus {
	opacity: 0.5;
}

.social-media a:visited,
.contact-links a:visited {
	opacity: 0.45;
}

.social-media a:active,
.contact-links a:active {
	opacity: 0.3;
}

.back-to-top {
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
}

.error-message {
    color: red;
    font-size: 0.8em;
}

@supports (display: grid) {
    .grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: var(--grid-gap);
        margin: var(--grid-margin);
    }
    
    .grid_item {
        background-color: var(--secondary-color);
        min-width: auto;
        min-height: auto;
        margin: 0;
        -webkit-transition: -webkit-transform 0.2s ease;
        transition: -webkit-transform 0.2s ease;
        transition: transform 0.2s ease;
        transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    }
    .grid_item:hover {
        -webkit-transform: scale(1.05);
                transform: scale(1.05);
        cursor: pointer;
    }
}

/* MEDIA QUERIES */

@media all and (max-width: 992px) {
	.main-navigation {
		text-align: center;
	}

	.navigation-list li a {
		letter-spacing: 0;
	}

	.work-list__item {
		width: 100%;
		margin: 5px auto;
		min-height: auto;
	}

	@supports (display: grid) {
		.work-list {
			grid-template-columns: 1fr 1fr;
		}

		.work-list__item:nth-child(5),
		.work-list__item:nth-child(6) {
			grid-column-start: auto;
		}
	}
}
@media all and (max-width: 830px) {
	.hamburger-menu {
		display: flex;
	}

	.main-navigation {
		display: none;
		flex-direction: column;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background: var(--accent-color);
		text-align: center;
		padding: 15px 0;
		border-bottom: 5px solid var(--accent-color);
		box-shadow: 10px 10px 15px var(--secondary-color);
	}

	.main-navigation.active {
		display: flex;
	}

	.navigation-list {
		flex-direction: column;
		gap: 15px;
		margin-right: 0;
	}

	.navigation-list li {
		margin: 0;
	}
	.theme-toggle {
		right: 50px;
		top: 3.5px;
	}

	.dropdown-menu {
		top: 0;
		left: 100%;
	}
}
@media all and (max-width: 768px) {
	h1 {
		font-size: var(--h2);
	}
	h2 {
		font-size: var(--h3);
	}
	h3 {
		font-size: var(--h4);
	}
	h4 {
		font-size: var(--h5);
	}

	.profile__portrait svg,
	.profile__text,
	.profile__button {
		flex-basis: 100%;
		margin: 0 auto;
	}

	.work-list__item {
		width: 100%;
		margin: var(--small-mp) auto;
		min-height: auto;
	}
	.project-descr {
		flex-direction: column;
	}
	@supports (display: grid) {
		.profile {
			grid-template-columns: 1fr;
			grid-template-rows: auto auto auto;
		}

		.profile > div {
			grid-column: 1 / 2;
			grid-row: auto;
		}

		.work-list {
			grid-gap: 10px;
		}

		.work-list__item:last-child {
			grid-column: auto / auto;
			grid-row: auto / auto;
		}
	}
}
@media all and (max-width: 500px) {
	.page-header .container {
		display: block;
		margin-top: 50px;
	}
	.contact_bottom {
		flex-wrap: wrap;
	}
	.contact_bottom button {
		margin-left: auto;
	}
	.contact_info:first-child {
		margin-right: 10px;
	}
}
@media all and (max-width: 480px) {
	@supports (display: grid) {
		.work-list {
			grid-template-columns: 1fr;
		}
	}
	.contact-links span,
	label {
		display: block;
	}
	.contact_info {
		text-align: left;
	}
	.page-footer .container {
		flex-flow: column nowrap;
	}
}

@media all and (max-width: 350px) {
	.contact_bottom {
		flex-flow: column nowrap;
	}
	.contact_info {
		margin-left: auto;
	}
	.contact_info:first-child {
		margin-right: 0;
	}
	.navigation-list li {
		margin: var(--small-mp) 0;
	}
}