/*
Colors used
Text color #D9D9D9 & #2A2A2A
Primary color #F5F5DC
Secondary color #2A2A2A
Accent color #D5EC51

Fonts Used
body (Marcellus 400)
h1 (Gloock 400)
*/

:root {
    --primary-color: #F5F5DC;
    --secondary-color:#2A2A2A;
    --accent-color: #D5EC51;
    --primary-font: 'Marcellus', serif;
    --secondary-font: 'Gloock', serif;
    --lighter-font-color: #D9D9D9;
    --darker-font-color: #2A2A2A;
    --body-font-weight: 400;
    --body-font-size: 16px;
    --body-line-height: 1.6;
    --h1-font-color: #2A2A2A;
    --h1-font-weight: 600;
    --h1-line-height: 2;
    --text: 16px;
	--h1: 60px;
	--h2: 45px;
	--h3: 35px;
	--h4: 30px;
	--h5: 20px;
	--label: 12px;
    --button-padding: 10px;
    --button-border-radius: 3px;
    --button-border-bottom: 2px solid rgba(red, green, blue, alpha);
    --grid-gap: 20px;
    --grid-margin: 20px;
    --grid-padding: 15px;
    --medium-margin: 40px;
	--standard-margin: 20px;
	--standard-padding: 10px;
	--small-padding: 5px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    font-family: var(--primary-font);
    color: var(--darker-font-color);
    font-weight: var(--body-font-weight);
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
    margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;
}

body[data-theme='light'] {
	background-color: var(--primary-color);
	color: var(--secondary-color);
}

body[data-theme='dark'] {
	background-color: var(--secondary-color);
	color: var(--primary-color);
}

.container {
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
}

main {
	margin: var(--standard-margin);
	flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--primary-font);
	letter-spacing: 2px;
    line-height: normal;
	text-align: center;
}

h1 {
	font-size: var(--h1);
	font-weight: 700;
}

h2 {
	font-size: var(--h2);
}

h3 {
	font-size: var(--h3);
}

h4 {
	font-size: var(--h4);
}

h5 {
	font-size: var(--h5);
	margin-bottom: 0;
}

a {
	color: var(--secondary-color);
	border-bottom: 1px solid;
	text-decoration: none;
	transition:
		opacity 0.3s ease,
		color 0.4s ease-in;
}

a:hover,
a:focus {
	border-bottom: none;
}

a:visited {
	opacity: 0.8;
}

a:active {
	opacity: 0.7;
	color: var(--accent-color);
}

.bold {
	font-weight: 700;
}
.italic {
	font-style: italic;
	font-weight: 400 !important;
}
span.bold,
span.italic {
	text-transform: none !important;
	color: var(--primary-color) !important;
}
body[data-theme='light'] span.bold,
body[data-theme='light'] span.italic {
	color: var(--secondary-color) !important;
}

.hidden {
	display: none;
}

button,
.button__link {
	background-color: var(--accent-color);
	color: var(--secondary-color);
	font-family: var(--primary-font);
	display: inline-block;
	font-size: var(--text);
	letter-spacing: 1px;
	line-height: 1;
	text-decoration: none;
	padding: var(--standard-padding);
	border-radius: 5px;
	text-transform: uppercase;
	border: 2px solid var(--secondary-color);
	margin: var(--standard-margin) 0;
	box-shadow: 4px 6px var(--secondary-color);
	transition: opacity 0.2s ease-in, box-shadow 0.3s ease;
}

.button__link {
	background-color: var(--accent-color);
	display: inline-block;
	text-align: center;
}

.button__link a {
	color: var(--secondary-color);
	border-bottom: none;
}

button:hover,
button:focus,
.button__link:hover,
.button__link:focus {
	cursor: pointer;
	opacity: 0.8;
	box-shadow: 3px 5px var(--secondary-color);
}

button:active,
.button__link:active {
	box-shadow: none;
}

/* HEADER */
.page-header {
	width: 100%;
	height: 150px;
	z-index: 9999;
	padding: 15px;
	background-color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
}

.page-header a .logo-link {
	text-decoration: none;
}

.logo-link {
	border: 0 none;
	text-decoration: none;
}

body[data-theme='dark'] .page-header {
    background-color: var(--secondary-color);
}

.page-header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.logo {
	width: 350px;
	max-width: 100%;
	height: auto;
}

.main-navigation {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	z-index: 1000000;
}

.navigation-list {
	list-style: none;
	display: flex;
	gap: 20px;
	align-items: center;
	padding: 0;
	margin: 0 70px 0 0;
}

.navigation-list li {
	margin-left: 15px;
}

.navigation-list li a,
.contact-links a {
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	padding: var(--small-padding);
	transition:
		transform 0.3s ease-in-out,
		opacity 0.2s ease;
	display: inline-block;
}

.navigation-list li a:hover,
.navigation-list li a:focus,
.contact-links a:hover,
.contact-links a:focus {
	animation: pulsate 2s ease infinite !important;
}

body[data-theme='dark'] .navigation-list a {
    color: var(--accent-color);
}

body[data-theme='dark'] .navigation-list a::after {
    color: var(--accent-color);
}

body[data-theme='dark'] .dropdown-menu a {
    color: var(--secondary-color);
}

.main-navigation .navigation-list li a.navigation-list__item--active {
	font-weight: 800;
}

.home-page,
.about-page,
.contact-page,
.work-page,
.project-sg-page,
.case-study {
	margin-top: 150px;
}

/* My Work dropdown menu */
.nav-dropdown {
	position: relative;
}

.dropdown-menu {
	display: none;
	position: absolute;
	list-style: none;
	border: 2px solid var(--secondary-color);
	padding: 10px;
	top: 30px;
	left: 0;
	background: var(--accent-color);
	text-align: left;
	transition: 0.3s ease-in-out;
}

.dropdown-menu li {
	padding: 5px 0;
}

.dropdown-menu a {
	color: var(--secondary-color);
	text-decoration: none;
	display: block;
	padding: 5px 10px;
}

.navigation-list li .dropdown-menu a {
	font-weight: 400;
}

.nav-dropdown:hover .dropdown-menu {
	display: block;
}
.nav-dropdown > a {
	position: relative;
	padding-right: 20px !important;
}

.nav-dropdown > a::after {
	content: '›';
	font-size: 20px;
	color: var(--secondary-color);
	position: absolute;
	right: 5px;
	top: 45%;
	transform: translateY(-50%);
	transition: transform 0.4s ease-in-out;
}

.nav-dropdown:hover > a::after,
.nav-dropdown:focus > a::after {
	transform: translateY(-50%) rotate(90deg);
}

/* The border seperating the case study from projects in dropdown menu */
.casestudy {
	border-top: 4px solid var(--secondary-color);
}

/* Hamburger Button (Mobile) */
.hamburger-menu {
	display: none;
	flex-direction: column;
	gap: 5px;
	border: none;
	background: none;
	cursor: pointer;
	padding: 10px;
	z-index: 11000;
	position: absolute;
	top: 7.5px;
	right: 5px;
	box-shadow: none;
	border-radius: 0;
	margin: 0;
}
.hamburger-menu:hover,
.hamburger-menu:focus,
.hamburger-menu:active {
	box-shadow: none;
	border-radius: 0;
}
.hamburger-menu .bar {
	display: block;
	width: 24px;
	height: 2.5px;
	transition:
		transform 0.3s,
		opacity 0.3s;
	transform-origin: center;
	background-color: var(--secondary-color);
}

body[data-theme='dark'] .hamburger-menu .bar {
	background-color: var(--accent-color);
}

/* HAMBURGER ICON ANIMATION */
.hamburger-menu.active .bar:nth-child(1) {
	transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-menu.active .bar:nth-child(2) {
	opacity: 0;
}

.hamburger-menu.active .bar:nth-child(3) {
	transform: rotate(-45deg) translate(5px, -5px);
}

/* Theme Toggle */
.theme-switch {
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 10px;
}
.theme-toggle {
	position: absolute;
	top: 10px;
	right: 15px;
	z-index: 11000000;
	width: 65px;
	height: 25px;
}
.theme-switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	top: 10px;
	cursor: pointer;
	background-color: var(--accent-color);
	width: 100%;
	height: 100%;
	border-radius: 30px;
	transition: background 0.4s;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 8px;
}

.slider .icon {
	width: 18px;
	height: 18px;
	transition: opacity 0.3s ease-in-out;
	position: absolute;
}

/* Moon icon (should be visible in light mode) */
.moon {
	left: 8px;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

/* Sun icon (should be visible in dark mode) */
.sun {
	right: 8px;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
}
.knob {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: var(--secondary-color);
	border-radius: 50%;
	top: 2px;
	transition: transform 0.4s;
	left: 2px;
}
/* When checkbox is checked (Light Mode) */
.theme-switch input:checked + .slider {
	background-color: var(--secondary-color);
}
/* Move knob right in light mode */
.theme-switch input:checked + .slider .knob {
	transform: translateX(40px);
	background-color: var(--accent-color);
}

.theme-switch input:checked + .slider .moon {
	opacity: 5;
}

.theme-switch input:checked + .slider .sun {
	opacity: 0;
}

/* HOMEPAGE */

.profile {
	max-width: 700px;
	margin: var(--standard-margin) auto;
	display: flex;
	flex-wrap: wrap;
}

.profile__portrait,
.profile__text,
.profile__button {
	flex: 1 0 calc(50% - var(--standard-margin));
	align-items: center;
}

.profile__portrait svg {
	width: 100%;
	height: auto;
	max-width: 200px;
}

.profile__text {
	text-align: center;
	padding: 0 30px;
}

.profile__button {
	flex-basis: 200px;
	flex-grow: 0;
	flex-shrink: 0;
	margin: 50px auto 0;
}

/* ABOUT */
.christopher_img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 2px solid var(--secondary-color);
	object-fit: cover;
	object-position: 50% 30%;
	animation: 1s border-pulsate infinite alternate ease-in-out;
}

body[data-theme='dark'] .christopher_img {
    border: 2px solid var(--accent-color);
}

.about-page h1 {
	margin-bottom: 10px;
}
.about-page ul {
	padding: 0;
}

.about-page li {
	list-style: none;
}

/* About page CV buttton */
.about-page a {
    background-color: var(--accent-color);
	color: var(--secondary-color);
	font-family: var(--primary-font);
	display: inline-block;
	font-size: var(--text);
	line-height: 1;
	text-decoration: none;
	padding: var(--standard-padding);
	border-radius: 5px;
	text-transform: uppercase;
	border: 2px solid var(--secondary-color);
	margin: var(--standard-margin) 0;
	box-shadow: 4px 6px var(--secondary-color);
}

.about-page a:hover {
    cursor: pointer;
	opacity: 0.8;
	box-shadow: 3px 5px var(--secondary-color);
}

.theme-svg {
	max-width: 100%;
	height: auto;
	margin: 50px auto 0;
}

/* My Work */
/* start grid fallback */
.grid_item {
	display: inline-block;
	width: 100%;
	background-color: var(--secondary-color);
	border: 2px solid var(--accent-color);
	padding: var(--standard-padding);
	margin: 1%;
	vertical-align: top;
	min-height: 260px;
	position: relative;
}

/* end grid fallback */
@supports (display: grid) {
	.grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-gap: 20px;
		justify-content: center;
		grid-auto-flow: dense;
	}

	.grid-item {
		margin: 0;
		width: auto;
		height: auto;
		min-height: auto;
		display: flex;
		flex-direction: column;
	}

	.grid-item div {
		margin-top: auto;
	}
}

.grid-item::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--secondary-color);
}

.grid-item {
	background-size: cover;
}

.grid-inner {
	position: relative;
}

.grid-item:nth-child(5),
.grid-item:nth-child(6) {
	grid-column-start: span 2;
}

.project-link h2,
.project-link p {
	color: var(--accent-color);
}

.project-link:hover h2,
.project-link:focus h2 {
	color: var(--accent-color) !important;
}

/* PROJECT SINGLE */
.project-img {
	margin-top: var(--medium-margin);
}

.project-img img,
.video-box video {
	border: 2px solid var(--secondary-color);
	padding: var(--standard-padding);
	max-width: 100%;
}

body[data-theme='dark'] .project-img img, .video-box video {
	border: 2px solid var(--accent-color);
}

.project-descr {
	line-height: 200%;
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

.project-descr ul,
.cs-inner ul {
	text-align: left;
	list-style: none;
	padding-left: var(--standard-margin);
}

.cs-inner ul ul {
	margin-left: 30px;
}

.project-descr li,
.cs-inner li {
	margin: 10px 0;
	position: relative;
}

.project-descr li::before,
.cs-inner li::before {
	content: '•';
	color: var(--secondary-color);
	position: absolute;
	left: -20px;
}

.project-descr span {
	font-weight: 600;
	text-transform: uppercase;
}

/* CinemaExpress code for specific layout */
.project-descr-Cinema .project-inner-obj ul {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	list-style-position: inside;
	padding: var(--standard-margin);
}

.project-descr-Cinema ul {
	text-align: left;
	list-style: none;
	padding-left: var(--standard-margin);
}

.project-descr-Cinema li {
	margin: auto 0;
	position: relative;
}

.project-descr-Cinema li::before {
    content: '•';
	color: var(--secondary-color);
	position: relative;
	left: -20px;
}

body[data-theme='dark'] .project-descr-Cinema li::before {
	color: var(--accent-color);
}

.project-inner-tech {
    flex: 1;
	padding: var(--standard-margin);
}

.project-tech-class {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.project-inner-inside {
    display: flex;
    align-items: left;
    justify-content: space-around;
}
/* END of CinemaExpress code for specific layout */

.project-inner {
	flex: 1;
	padding: var(--standard-margin);
}

.project-inner:last-child {
	flex: 1 1 100%;
}

body[data-theme='dark'] .project-inner li::before {
    color: var(--accent-color);
}

h4 {
	margin-top: 50px;
}

.btn-box {
	display: flex;
	justify-content: center;
	gap: var(--standard-margin);
}

video {
	width: 500px;
	max-width: 90%;
}

.video-box label,
.cs-inner figcaption {
	display: block;
    text-align: center;
	font-size: var(--text);
	font-family: var(--primary-font);
	letter-spacing: 1px;
	color: var(--secondary-color);
}

/*Case Study*/
.hero-section img {
	display: block;
	margin: 0 auto;
	text-align: center;

}
.cs-inner {
	text-align: left;
}
.cs-item {
	display: block;
}
.cs-inner h2 {
	letter-spacing: 3px;
	margin: 20px 0 0;
}
.cs-inner h3 {
	font-size: 25px;
}
.cs-inner ul {
	max-width: 900px;
	margin: 0 auto;
}
.cs-inner p {
	text-align: center;
}
.cs-inner ul p {
	margin-top: 0;
}
.project-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 30px;
}
.half_width {
	flex: 1 1 calc(50% - 30px);
}
.fullwidth {
	width: 100%;
}
.cs-inner .half_width h3 {
	margin-top: 50px;
}
.cs-inner img {
	max-width: 90%;
	max-height: 700px;
	width: 700px;
}
.cs-inner .project-img,
.video-box {
	text-align: center;
}
.cs-inner ul {
	padding: 10px;
}

.conclusion .video-box video {
	border: 2px solid var(--secondary-color);
	padding: var(--standard-padding);
	max-width: 100%;
}

body[data-theme='dark'] .cs-inner li::before {
    color: var(--accent-color);
}

body[data-theme='dark'] .conclusion .video-box video {
    border: 2px solid var(--accent-color);
}

/*CONTACT*/
form {
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
}

label,
.contact-links span {
	color: var(--secondary-color);
	text-transform: lowercase;
	font-size: var(--label);
}
textarea,
input {
	border-radius: 0;
	line-height: 180%;
	border: 2px solid var(--secondary-color);
	padding: 5px;
	font-family: var(--primary-font);
}
textarea {
	max-width: 100%;
	width: 100%;
}

label {
	display: block;
	text-align: left;
}
.contact_info {
	margin: var(--small-padding) 0;
	text-align: right;
}
.contact-address p {
	text-align: center;
}
address {
	max-width: 500px;
	margin: 50px auto 0;
	text-align: left;
	border-top: 2px dashed var(--secondary-color);
	font-style: normal;
}

address > div {
	width: 100%;
}

.contact-page h3 {
	margin-bottom: 0;
}

.contact-links {
	display: flex;
	justify-content: center;
}

.contact-page .button__link {
	margin-top: 50px;
}

input:focus-visible,
textarea:focus-visible {
	outline: 2px solid var(--accent-color);
}

.contact-links img {
	width: 35px;
	height: 35px;
}

.contact-links span {
	padding: 0 5px;
}

.contact_bottom {
	display: flex;
	justify-content: space-between;
}

/* FOOTER */
.page-footer {
	margin-top: 30px;
	padding: var(--small-padding);
	background-color: var(--primary-color);
}

body[data-theme='dark'] .page-footer {
    background-color: var(--secondary-color);
}

.page-footer .container {
	display: flex;
	justify-content: space-between;
}

.page-footer p {
	font-size: 11px;
	text-transform: uppercase;
	align-items: flex-end;
}

.social-media img {
	width: 30px;
	height: 30px;
	padding: 0 5px;
	align-items: flex-end;
}

body[data-theme='dark'] .social-media img,
body[data-theme='dark'] .contact-links img {
	filter: invert(1);
}

.social-media a,
.contact-links a {
	border: none;
}

.social-media a:hover,
.social-media a:focus,
.contact-links a:hover,
.contact-links a:focus {
	opacity: 0.5;
}

.social-media a:visited,
.contact-links a:visited {
	opacity: 0.45;
}

.social-media a:active,
.contact-links a:active {
	opacity: 0.3;
}

.error-message {
    color: red;
    font-size: 0.8em;
}

@supports (display: grid) {
    .grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: var(--grid-gap);
        margin: var(--grid-margin);
    }
    
    .grid_item {
        background-color: var(--secondary-color);
        min-width: auto;
        min-height: auto;
        margin: 0;
        text-align: center;
        -webkit-transition: -webkit-transform 0.2s ease;
        transition: -webkit-transform 0.2s ease;
        transition: transform 0.2s ease;
        transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    }
    .grid_item:hover {
        -webkit-transform: scale(1.05);
                transform: scale(1.05);
        cursor: pointer;
    }
}

/* MEDIA QUERIES */
@media all and (max-width: 1024px) {
	.project-flex {
		display: block;
	}
}

@media all and (max-width: 992px) {
	.main-navigation {
		text-align: center;
	}

	.navigation-list li a {
		letter-spacing: 0;
	}

	.grid-item {
		width: 100%;
		margin: 5px auto;
		min-height: auto;
	}

	@supports (display: grid) {
		.grid {
			grid-template-columns: 1fr 1fr;
		}

		.grid-item:nth-child(5),
		.grid-item:nth-child(6) {
			grid-column-start: auto;
		}
	}
}
@media all and (max-width: 830px) {
	.hamburger-menu {
		display: flex;
	}

	.main-navigation {
		display: none;
		flex-direction: column;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background: var(--secondary-color);
		text-align: center;
		padding: 15px 0;
		box-shadow: 10px 10px 15px var(--accent-color);
	}

	.main-navigation.active {
		display: flex;
	}

	.navigation-list {
		flex-direction: column;
		gap: 15px;
		margin-right: 0;
	}

	.navigation-list li {
		margin: 0;
	}

    .navigation-list li a {
        color: var(--accent-color);
    }

    .nav-dropdown > a::after {
        content: '›';
        font-size: 20px;
        color: var(--accent-color);
        position: absolute;
        right: 5px;
        top: 45%;
        transform: translateY(-50%);
        transition: transform 0.4s ease-in-out;
    }
    
	.theme-toggle {
		right: 50px;
		top: 3.5px;
	}

	.dropdown-menu {
		top: 0;
		left: 100%;
	}

    .dropdown-menu li a {
        color: var(--secondary-color);
    }
}
@media all and (max-width: 768px) {
	h1 {
		font-size: var(--h2);
	}
	h2 {
		font-size: var(--h3);
	}
	h3 {
		font-size: var(--h4);
	}
	h4 {
		font-size: var(--h5);
	}

	.profile__portrait svg,
	.profile__text,
	.profile__button {
		flex-basis: 100%;
		margin: 0 auto;
	}

	.grid-item {
		width: 100%;
		margin: var(--small-mp) auto;
		min-height: auto;
	}
	.project-descr {
		flex-direction: column;
	}
	@supports (display: grid) {
		.profile {
			grid-template-columns: 1fr;
			grid-template-rows: auto auto auto;
		}

		.profile > div {
			grid-column: 1 / 2;
			grid-row: auto;
		}

		.grid {
			grid-gap: 10px;
		}

		.grid-item:last-child {
			grid-column: auto / auto;
			grid-row: auto / auto;
		}
	}
}
@media all and (max-width: 500px) {
	.page-header .container {
		display: block;
		margin-top: 50px;
	}
	.contact_bottom {
		flex-wrap: wrap;
	}
	.contact_bottom button {
		margin-left: auto;
	}
	.contact_info:first-child {
		margin-right: 10px;
	}
}
@media all and (max-width: 480px) {
	@supports (display: grid) {
		.grid {
			grid-template-columns: 1fr;
		}
	}
	.contact-links span,
	label {
		display: block;
	}
	.contact_info {
		text-align: left;
	}
	.page-footer .container {
		flex-flow: column nowrap;
	}
}

@media (max-width: 480px) {
    .logo {
        width: 300px;
        max-width: 100%;
        height: auto;
    }
}

@media all and (max-width: 350px) {
	.contact_bottom {
		flex-flow: column nowrap;
	}
	.contact_info {
		margin-left: auto;
	}
	.contact_info:first-child {
		margin-right: 0;
	}
	.navigation-list li {
		margin: var(--small-mp) 0;
	}
}

@keyframes move-in {
	0% {
		opacity: 0;
		transform: translateX(-1000px);
	}

	80% {
		transform: translateY(-8px);
	}

	85% {
		transform: translateY(1px);
	}

	90% {
		transform: translateY(-5px);
	}

	98% {
		transform: translateY(0.5px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}