/*
Colors used
Text color #005555
background color #cbbeb5
Secondary color #85144b

Fonts Used
body (Marcellus 400)
h1 (Gloock 400)
*/

:root {
    --primary-color: #FFFFFF;
    --secondary-color:#2A2A2A;
    --accent-color: #D5EC51;
    --primary-font: 'Marcellus', serif;
    --secondary-font: 'Gloock', serif;
    --lighter-font-color: #D9D9D9;
    --darker-font-color: #2A2A2A;
    --body-font-weight: 400;
    --body-font-size: 16px;
    --body-line-height: 1.6;
    --h1-font-color: #000;
    --h1-font-weight: 600;
    --h1-font-size: 24px;
    --h1-line-height: 2;
    --button-padding: 10px;
    --button-border-radius: 3px;
    --button-border-bottom: 2px solid rgba(red, green, blue, alpha);
    --grid-gap: 20px;
    --grid-margin: 20px;
    --grid-padding: 15px;
    --grid-item-background-color: #ffe5ea;
}

a {
    color: var(--secondary-color);
}

body {
    background-color: var(--primary-color);
    font-family: var(--primary-font);
    color: var(--darker-font-color);
    font-weight: var(--body-font-weight);
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
}

h1 {
    color: var(--h1-font-color);
    font-family: var(--secondary-font);
    font-weight: var(--h1-font-weight);
    font-size: var(--h1-font-size);
    line-height: var(--h1-line-height);
}

button,
.button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color:var(--secondary-color);
    color: var(--lighter-font-color);
    text-decoration: none;
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    border-bottom: var(--button-border-bottom);
    transition: opacity 0.5s;
}

button:hover, 
button:focus,
.button:hover,
.button:focus {
    cursor: pointer;
    opacity: 0.8;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.navigation-list_item--active {
    text-decoration: none;
}

/* Projects dropdown submenu */
.nav-dropdown {
	position: relative;
}

.dropdown-menu {
	display: none;
	position: absolute;
	list-style: none;
	padding: 10px;
	top: 30px;
	left: 0;
	background: var(--accent-color);
	text-align: left;
	transition: 0.3s ease-in-out;
}

.dropdown-menu li {
	padding: 5px 0;
}

.dropdown-menu a {
	color: var(--secondary-color);
	text-decoration: none;
	display: block;
	padding: 5px 10px;
}
.navigation-list li .dropdown-menu a {
	font-weight: 400;
}

.nav-dropdown:hover .dropdown-menu {
	display: block;
}
.nav-dropdown > a {
	position: relative;
	padding-right: 20px !important;
}

.nav-dropdown > a::after {
	content: '›';
	font-size: 20px;
	color: var(--accent-color);
	position: absolute;
	right: 5px;
	top: 45%;
	transform: translateY(-50%);
	transition: transform 0.4s ease-in-out;
}

.nav-dropdown:hover > a::after,
.nav-dropdown:focus > a::after {
	transform: translateY(-50%) rotate(90deg);
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/* Hamburger Button (Mobile) */
.hamburger-menu {
	display: none;
	flex-direction: column;
	gap: 5px;
	border: none;
	background: none;
	cursor: pointer;
	padding: 10px;
	z-index: 11000;
	position: absolute;
	top: 7.5px;
	right: 5px;
	box-shadow: none;
	border-radius: 0;
	margin: 0;
}
.hamburger-menu:hover,
.hamburger-menu:focus,
.hamburger-menu:active {
	box-shadow: none;
	border-radius: 0;
}
.hamburger-menu .bar {
	display: block;
	width: 24px;
	height: 2.5px;
	transition:
		transform 0.3s,
		opacity 0.3s;
	transform-origin: center;
	background-color: var(--accent-color);
}
/* HAMBURGER ICON ANIMATION */
.hamburger-menu.active .bar:nth-child(1) {
	transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-menu.active .bar:nth-child(2) {
	opacity: 0;
}

.hamburger-menu.active .bar:nth-child(3) {
	transform: rotate(-45deg) translate(5px, -5px);
}

.profile {
    max-width: 50%;
    margin: 0 auto;
}

.profile_portrait {
    float: left;
    width: 300px;
    margin-right: 40px;
    border-radius: 50%;
}

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    position: relative;
}

.page-header_item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 250px;
            flex: 0 1 250px;
}

.page-header_item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: right;
}

.logo {
    width: 300px;
    height: 300px;
    padding: 20px;
}

.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}

.grid-header {
    text-align: center;
}

.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: var(--grid-gap);
    margin: var(--grid-margin);
}

.grid_item {
    background-color: var(--grid-item-background-color);
    padding: var(--grid-padding);
    text-align: center;
}

.contact-profile {
    max-width: 50%;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}

.about-profile {
    max-width: 50%;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}

.about-profile ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.about-profile ul li {
    margin: 0;
    padding: 0;
}

.sun {
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-name: color-change;
            animation-name: color-change;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}

.cloud-front {
    -webkit-animation-duration: 30s;
            animation-duration: 30s;
    -webkit-animation-name: cloud-move;
            animation-name: cloud-move;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}

.cloud-back {
    -webkit-animation-duration: 34s;
            animation-duration: 34s;
    -webkit-animation-name: cloud-move-reverse;
            animation-name: cloud-move-reverse;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}

.back-to-top {
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
}

.error-message {
    color: red;
    font-size: 0.8em;
}

@supports (display: grid) {
    .grid {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: var(--grid-gap);
        margin: var(--grid-margin);
    }
    
    .grid_item {
        background-color: var(--grid-item-background-color);
        min-width: auto;
        min-height: auto;
        margin: 0;
        -webkit-transition: -webkit-transform 0.2s ease;
        transition: -webkit-transform 0.2s ease;
        transition: transform 0.2s ease;
        transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    }
    .grid_item:hover {
        -webkit-transform: scale(1.05);
                transform: scale(1.05);
        cursor: pointer;
    }
}

@media all and (max-width: 500px) {
    .page-header {
        display: block; 
    }
    .navigation-list {
        text-align:center;
        margin: 0 auto;
        padding: 10px;
    }
    .profile_portrait {
        float: none;
        margin: 0 auto;
        position: relative;
        right:40px; 
    }
    .logo {
        height: 110px;
    }
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }   
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
    }  
}

@media all and (max-width: 750px) {
    .grid {
        grid-gap: var(--grid-gap)
    }
    h1 {
        font-size: var(--h1-font-size);
    }
}

@-webkit-keyframes color-change {
    0% {
        fill: #edc655
    }
    50% {
        fill: #fcffad
    }
    100% {
        fill: #f76414
    }
}

@keyframes color-change {
    0% {
        fill: #edc655
    }
    50% {
        fill: #fcffad
    }
    100% {
        fill: #f76414
    }
}

@keyframes cloud-move {
    from {
        transform: translate(0,50px);
    }
    to {
        transform: translate(200px,50px);
    }
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px,48px);
    }
    to {
        transform: translate(100px,48px);
    }
}

@-webkit-keyframes cloud-move {
    from {
        -webkit-transform: translate(0,50px);
                transform: translate(0,50px);
    }
    to {
        -webkit-transform: translate(200px,50px);
                transform: translate(200px,50px);
    }
}

@keyframes cloud-move {
    from {
        -webkit-transform: translate(0,50px);
                transform: translate(0,50px);
    }
    to {
        -webkit-transform: translate(200px,50px);
                transform: translate(200px,50px);
    }
}

@-webkit-keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px,48px);
                transform: translate(446px,48px);
    }
    to {
        -webkit-transform: translate(100px,48px);
                transform: translate(100px,48px);
    }
}

@keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px,48px);
                transform: translate(446px,48px);
    }
    to {
        -webkit-transform: translate(100px,48px);
                transform: translate(100px,48px);
    }
}